process {
    withName: IMAGING_ASHLARCOMPANION {
        ext.args = "-c 0 -m 30 --filter-sigma '25.0' --plates --pyramid"
        publishDir = [
            "path": "./output/",
            "mode": 'copy',
        ]
    }

    // withName: IMAGING_PREPROCESS {
    //     publishDir = [
    //         "path": "./output/",
    //         "mode": 'copy',
    //     ]
    // }

    withName: IMAGING_GENERATECOMPANIONFROMFILES {
        publishDir = [
            "path": "./output/",
            "mode": 'copy',
        ]
    }
}
