process {
    withName: IMAGING_ASHLARCOMPANION {
        ext.args = "-c 0 -m 30 --filter-sigma '25.0' --plates --pyramid"
        publishDir = [
            path: "/nfs/t233_imaging/tl10/tic-3938/fovs/ashlar_output",
            mode: 'copy',
        ]
    }

    withName: IMAGING_GENERATECOMPANION {
        ext.args = "--master_file Index.xml"
        publishDir = [
            path: "/nfs/t233_imaging/tl10/tic-3938/fovs",
            mode: 'copy',
        ]
    }

    withName: IMAGING_PREPROCESS {
        ext.args = "--master_file Index.xml"
        publishDir = [
            path: "/nfs/t233_imaging/tl10/tic-3938/fovs",
            mode: 'copy',
        ]
    }
}
