process {
    withName: IMAGING_ASHLARCOMPANION {
        ext.args = "-c 0 -m 30 --filter-sigma '25.0' --plates --pyramid"
    }

    withName: IMAGING_GENERATECOMPANION {
        ext.args = "--master_file Index.xml"
    }

    withName: IMAGING_PREPROCESS {
        ext.args = "--master_file Index.xml"
    }
}
