profiles {
    lsf {
        process.executor = 'lsf'
        singularity.enabled = true
        executor {
            name = 'lsf'
            queueSize = 10
            // https://www.nextflow.io/docs/latest/executor.html#lsf
            perJobMemLimit = true
        }
        process.queue = 'imaging'
    }

    local {
        executor.name = 'local'
        docker.enabled = true
        docker.registry = "quay.io"
    }
}

trace {
    enabled = true
    file = 'pipeline_trace.tsv'
    sep = '\t'
    fields = 'script,env,read_bytes,write_bytes,peak_vmem,peak_rss,vmem,%cpu,%mem,realtime,duration,queue,attempt,memory,disk,cpus,container,module,status,name,hash'
    overwrite = true
}

includeConfig "module.config"

nextflow.enable.moduleBinaries = true
manifest.name = 'workflows-stitching'
manifest.version = '0.1.0'
manifest.description = "Workflow to run ASHLAR stitching after preprocessing"
