docker.enabled = true

profiles {
    lsf {
	includeConfig 'lsf.config'
	process.executor='lsf'
    }
}

trace {
    enabled = true
    file = 'pipeline_trace.tsv'
    sep = '\t'
    fields = 'script,env,read_bytes,write_bytes,peak_vmem,peak_rss,vmem,%cpu,%mem,realtime,duration,queue,attempt,memory,disk,cpus,container,module,status,name,hash'
}


tower {
   enabled = true
   endpoint = 'http://nf-tower.cellgeni.sanger.ac.uk/api'
   accessToken = 'dd8c018e10a7ef1a005d5b519042276cd5f354ea'
}
