params {
    out_dir = "./output/"
}
profiles {
    lsf {
        executor {
            name = 'lsf'
            queueSize = 10
            // https://www.nextflow.io/docs/latest/executor.html#lsf
            perJobMemLimit = true
        }
        process {
            queue = 'imaging'
            cpus = 1
            memory = 10.GB
        }
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
        docker.enabled = false
        process.containerOptions = "--containall --cleanenv --no-mount /lib"
    }

    local {
        executor.name = 'local'
    }

    docker {
        docker.enabled = true
        docker.registry = "quay.io"
    }
}

trace {
    enabled = false
    file = 'pipeline_trace.tsv'
    sep = '\t'
    fields = 'script,env,read_bytes,write_bytes,peak_vmem,peak_rss,vmem,%cpu,%mem,realtime,duration,queue,attempt,memory,disk,cpus,container,module,status,name,hash'
    overwrite = true
}

includeConfig "conf/module.config"

nextflow.enable.moduleBinaries = true
manifest {
    name = 'workflows-stitching'
    version = '0.1.0'
    description = "Workflow to run ASHLAR stitching after preprocessing"
}
