includeConfig "../../../../../tests/config/nextflow.config"

// params.modules_testdata_base_path = "/nfs/team283_imaging/0HarmonyExports/"
params.modules_testdata_base_path = "s3://spatial_demo_datasets/"



process {
    withName: IMAGING_GENERATECOMPANIONFROMFILES {
        ext.args = params.module_args
    }
}

