// params.modules_testdata_base_path = "/nfs/team283_imaging/0HarmonyExports/"
params.modules_testdata_base_path = "s3://spatial_demo_datasets/"

nextflow.enable.moduleBinaries = true

docker.enabled = true

process {
    withName: IMAGING_GENERATECOMPANIONFROMFILES {
        ext.args = params.module_args
    }
}

aws {
    region = "eu-west-2"
    client {
        endpoint = "https://cog.sanger.ac.uk"
        anonymous = true
        s3PathStyleAccess = true
    }
}
