docker.enabled = false

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/lustre/scratch126/cellgen/team283/imaging_sifs/cache/'
}

executor {
    name = 'lsf'
    queueSize = 10
    // https://www.nextflow.io/docs/latest/executor.html#lsf
    perJobMemLimit = true
}

process.queue = 'imaging'

trace {
    enabled = true
    file = 'pipeline_trace.tsv'
    sep = '\t'
    fields = 'script,env,read_bytes,write_bytes,peak_vmem,peak_rss,vmem,%cpu,%mem,realtime,duration,queue,attempt,memory,disk,cpus,container,module,status,name,hash'
}

timeline {
  enabled = false
  file = "${params.report_dir}/timeline.html"
}

tower {
    accessToken = 'eyJ0aWQiOiA2fS5kNWQ4Mjk1YTQ0MzhkMGQzODExNTQ1ZjNiODU2NzZkYWY3ZDE3YjVi'
    endpoint = 'http://nf-tower.cellgeni.sanger.ac.uk/api'
    enabled = false
}
