process {
    withName: IMAGING_ASHLARCOMPANION {
        ext.args = "-c 0 -m 30 --filter-sigma '25.0' --plates --pyramid"
        publishDir = [
            "path": params.out_dir,
            "mode": 'copy',
        ]
    }

    withName: IMAGING_GENERATECOMPANIONFROMFILES {
        publishDir = [
            "path": params.out_dir,
            "mode": 'copy',
        ]
    }
    withName: BIOFORMATS2RAWCOMPANION {
        cpus = 30
        ext.args = "-w 2160 -h 2160 --log-level ERROR -r 1"
    }
}
