params {
    out_dir = "./output/"
}
profiles {
    lsf {
        executor {
            name = 'lsf'
            queueSize = 10
            // https://www.nextflow.io/docs/latest/executor.html#lsf
            perJobMemLimit = true
        }
        process {
            queue = 'imaging'
            cpus = 1
            memory = 10.GB
        }
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
        docker.enabled = false
        process.containerOptions = "--containall --cleanenv --no-mount /lib"
    }

    local {
        executor.name = 'local'
    }

    docker {
        docker.enabled = true
        docker.registry = "quay.io"
    }
}

nextflow.enable.moduleBinaries = true
