includeConfig "../../../../tests/config/nextflow.config"

params.modules_testdata_base_path = "s3://spatial_demo_datasets/"



process {
    withName: IMAGING_GENERATECOMPANION {
        ext.args = params.generatecompanion_args
    }
    withName: IMAGING_PREPROCESS {
        ext.args         = params.preprocess_args
        containerOptions = "--gpus all"
    }
}
