params.modules_testdata_base_path = "https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/modules/data/"
// params.modules_testdata_base_path = "s3://spatial_demo_datasets/nf-core/"

// aws {
//     region = "eu-west-2"
//     client {
//         endpoint = "https://cog.sanger.ac.uk"
//         anonymous = true
//         s3PathStyleAccess = true
//     }
// }

docker.enabled = true
